         
.mainHeader {
    @include position(fixed, 0, auto, auto, 0);
    width: 100%;
    z-index: 100;
    margin: 0;
    @include transition(all, .4s);
    background-color: #F5F5E1;
    padding-top: 45px;
    .wrapper {
        @include flex();
    }

}


/* ------------------------------------ */
/*  NAV STYLES  */
.mainNav {
    text-align: right;
    ul {
        list-style-type: none;
        display: inline-block;
        vertical-align: middle;
        li {
            display: inline-block;
            a {
                font: 16px $pn;
                text-transform: uppercase;
                margin: 0 30px;
                color: #000;
                display: inline-block;
                border-bottom: 1px solid rgba(0,0,0,.2);
            }
        }
    }
    .languages {
        display: block;
        list-style-type: none;
        margin-top: 20px;
        li {
            display: inline-block;
            line-height: 20px;
            padding: 0 4px;
            border: 1px solid transparent;
            margin: 0 4px;
             font: 16px $pn;
            color: $orange;
            &.active {
                border: 1px solid $orange;
                color: #000;
            }
        }
    }
}

.mail {
    font: 16px $pn;
    margin: 0 0 0 30px;
    color: #000;
    display: inline-block;
    border-bottom: 1px solid rgba(0,0,0,.2);
}